body {
  background-color: #282828;
  color: #ebdbb2;
  padding: 0px;
  margin: 0px;
  font-family: monospace;
  font-size: 14px;
}

.margindiv {
  margin: 10px;
}

#testtable {
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border: 2px solid;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid;
}

td, th {
  border: 1px solid #404040;
  padding: 2px 5px;
}

.noselect {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

pre {
  margin: 0px;
  border: 2px solid;
  padding: 10px;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 12px;
}


.buttons {
  color: #282828;
  background-color: #ebdbb2;
  border-radius: 0px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0px 10px 0px 0px;
  white-space: pre;
}

.button {
  color: #282828;
  background-color: #ebdbb2;
  border-radius: 0px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0px;
  white-space: pre;
}

.buttondiv {
  margin: 10px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.password {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.passwordbox {
  border: 2px solid #ebdbb2;
  padding: 10px;
  background-color: #282828;
}

.clickable-row {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.black {
  color: #282828;
}
.bold.black,
.black.bold,
.bold .black,
.black .bold {
  color: #928374;
}
.red {
  color: #cc241d;
}
.bold.red,
.red.bold,
.bold .red,
.red .bold {
  color: #fb4934;
}
.green {
  color: #98971a;
}
.bold.green,
.green.bold,
.bold .green,
.green .bold {
  color: #b8bb26;
}
.yellow {
  color: #d79921;
}
.bold.yellow,
.yellow.bold,
.bold .yellow,
.yellow .bold {
  color: #fabd2f;
}
.blue {
  color: #458588;
}
.bold.blue,
.blue.bold,
.bold .blue,
.blue .bold {
  color: #83a598;
}
.magenta {
  color: #b16286;
}
.bold.magenta,
.magenta.bold,
.bold .magenta,
.magenta .bold {
  color: #d3869b;
}
.cyan {
  color: #689d6a;
}
.bold.cyan,
.cyan.bold,
.bold .cyan,
.cyan .bold {
  color: #8ec07c;
}
.white {
  color: #a89984;
}
.bold.white,
.white.bold,
.bold .white,
.white .bold {
  color: #ebdbb2;
}
